body {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

/**********Typography***************/

h1 {
	color: #143774;
	font-family: 'Lora', serif;
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}

.subtitle {
	color: #1792d2;
	font-size: 0.75rem;
	font-weight: 700;
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
}

.container-nav {
	display: flex;
	justify-content: space-between;
}



header {
	background: #f8f8f8;
	padding: 2em 0;	
}

nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

nav li {
	margin-left: 2em;
}

nav a {
	color: #707070;
	font-weight: 700;
	padding: .2rem 0;
	text-decoration: none;
}

nav a:hover, nav a:focus {
	color: #1792d2;
}

.current-page {
	border-bottom: 1px solid #707070;
}

.current-page:hover {
	color: #707070;
	cursor: default;
}


@media (max-width: 675px) {
	.container-nav {		
		flex-direction: column;
		justify-content: center;
	}

	header {
		text-align: center;
	}

	nav ul {
		flex-direction: column;
	}

	nav li {
		margin: .5em 0 ;
	}
}
